@charset "UTF-8";

div { 
  padding: 3px;
  text-align: center;
  width: auto;
  margin: auto;
}

div:hover {
  border: 2px solid black;
  cursor: pointer;
}

div:hover:active {
  background-color: gray;
  color: red;
}

.cor-primaria-div {
  color: blue;
  font-size: 48px;
  font-style: italic;
}

.cor-primaria-div:hover {
  background-color: blue;
  color: white;
}

.cor-secundaria-div {
  color:green;
  font-size: 36px;
}

.cor-secundaria-div:hover {
  background-color: green;
  color: white;
}

.cor-complementar-div {
  color: orange;
  width: auto;
  height: 200px;    
  font-size: 24px;
  font-style: italic;     
}
  
.cor-complementar-div:hover {
  background-color: orange;
  color: black;
}

.cor-escura-div {
  font-size: 18px;
  color: black;
}

.cor-escura-div:hover {
  background-color: black;
  color: white;
}

.cor-clara-div {
  font-size: 12px;
  font-style: italic;
  color: lightgray;
}

.cor-clara-div:hover {
  background-color: lightgray;
  color: black;
}