@charset "UTF-8";

body {
    background-color: lightyellow;
    font-size: 16px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
    font-size: 65px;
}

p {
    font-weight: 600;
    height: 3em;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
}

ul {
    background-color: paleturquoise;
    color:grey;
    line-height: 2em;
}

#amarelo {
    background-color: yellow;
    color: black
}

#marrom {
    background-color: brown;
    color: white
}

#vermelho {
    background-color: red;
    color: white
}

.class-style {
    background-color: lightgreen;
    font-weight: bold;
}
